.main {
  width: 100%;
  max-width: var(--page-max-width);
  display: grid;
  grid-template-columns: 100%;
  grid-gap: 40px;
  padding: clamp(30px, 5%, 70px) 30px;
  font-family: "Inter", sans-serif;
}

.title {
  font-family: "Poppins", sans-serif;
  position: relative;
  font-weight: 700;
  color: var(--grey);
  margin-bottom: var(--title-margin-bottom);
  font-size: clamp(1.5rem, 5vw, 2.3rem);
}

.subtitle {
  font-size: clamp(1rem, 3vw, 1.2rem);
  line-height: clamp(1.5rem, 5vw, 2.5rem);
}

.galleryGrid {
  display: grid;
  justify-content: center;
  grid-gap: 30px;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(min(30%, 25ch), 1fr));
}

.galleryImage {
  max-width: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  display: block;
  margin-bottom: 14px;
}

.galleryTitle {
  font-size: 0.9rem;
  margin-bottom: 4px;
  font-weight: 500;
  color: #5e5e5e;
}

.gallerySubtitle {
  font-size: 0.8rem;
  color: #6c6c6c;
}

.socialContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.social {
  color: #888;
  padding: 20px 30px;
  background: white;
}

.social p {
  margin-bottom: 12px;
}

.socialList {
  display: block;
  list-style-type: none;
}

.socialList li {
  margin: 20px 0;
}

.title {
  font-family: "Poppins", sans-serif;
  margin-bottom: 9px;
  position: relative;
  font-weight: 700;
  color: var(--grey);
  margin-bottom: var(--title-margin-bottom);
  font-size: clamp(1.5rem, 5vw, 2.3rem);
}

.special {
  color: var(--purple);
}

.codepen {
  margin-bottom: 12px;
  aspect-ratio: 1/1;
}
